@font-face {
  font-family: 'Basier Square';
  src:
    url('./assets/fonts/basiersquare-regular-webfont.woff2') format('woff2'),
    url('./assets/fonts/basiersquare-regular-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Basier Square';
  src:
    url('./assets/fonts/basiersquare-regularitalic-webfont.woff2') format('woff2'),
    url('./assets/fonts/basiersquare-regularitalic-webfont.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Basier Square';
  src:
    url('./assets/fonts/basiersquare-medium-webfont.woff2') format('woff2'),
    url('./assets/fonts/basiersquare-medium-webfont.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Basier Square';
  src:
    url('./assets/fonts/basiersquare-semibold-webfont.woff2') format('woff2'),
    url('./assets/fonts/basiersquare-semibold-webfont.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Basier Square';
  src:
    url('./assets/fonts/basiersquare-semibolditalic-webfont.woff2') format('woff2'),
    url('./assets/fonts/basiersquare-semibolditalic-webfont.woff') format('woff');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Basier Square';
  src:
    url('./assets/fonts/basiersquare-bold-webfont.woff2') format('woff2'),
    url('./assets/fonts/basiersquare-bold-webfont.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Basier Square', ui-sans-serif, system-ui, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light;
  color: #1c1c1a;
  background-color: #e9e8e5;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: start;
  min-width: 320px;
  min-height: 100vh;
}

button {
  font-family: inherit;
  cursor: pointer;
  border: none;
  background: none;
  padding: 0;
}

input[type='range'] {
  accent-color: #ff6756;
}
